html{
    background-color: #d5d9d5;
}

.Contenedor-padre{
    position: absolute;
    top: 22%;
    
}

.siteFooterPelicula{
    position: absolute;
    bottom: -140vw;
    width: 100%;
}

.pelicula-titulo{
    color: #a0a0a0;
}

.pelicula-precio{
    font-weight: 600;
    font-size: large;
}

.pelicula-imagen{
    max-width: 16.4vw;
    height: 50%;
    margin-left: 130px;
    border-radius: 30px;
}

.pelicula-detalles{
    color: #a0a0a0;
    position: relative;
    margin-left: 7vw;

}


.contenedor img {
    width: 20vw;
    height: auto;
}

.contenedor p {
    align-items: right;
    font-size: 9vw;
    font-weight: 600;
}

#Contenedor-Peliculas{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}