html{
    background-color: #d5d9d5;
}

.Cartel-Individual{
    position: relative;
    height: 30vw;
    border-radius: 3vw;
    width: auto;
    top: 6vw;
    left: 10vw;
}

.siteFooter3{
    position: absolute;
    width: 100%;
    top: 55vw;

}
.buscador {
	position: absolute;
	left: 66vw;
	top: 3.5vw;
	padding: 10px;
    font-size: 1.5vw;
}

.Inyeccion{
    max-height: 0vw;
    
}
.Contenedor-padre{

    background-color: #187518;


}

.Descripcion-contenedor{
    position: relative;
    width: 45vw;
    top: -25vw;
    left: 35vw;
    color: #171717;
    text-align: justify;
    
}

.Titulo2{
    color: black;
    font-weight: bolder;
    padding-bottom: 1px;
}

.Titulo-contenedor{
    position: relative;
    border-bottom: 1px;
}

.Titulo-contenedor::after{
    position: absolute;
    content: '';
    top: 2vw;
    width: 100%;
    height: 0.2vw;
    background-color:#191918;


}

.botones-horario{
    border: 2px solid #191918;
    color: #191918;
    background-color: #FBFBF8;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1vw;
    width: 4.7vw;
    margin: 0.3vw;
    margin-bottom: 1vw;
}
.botones-horario:hover{
    background-color: #191918;
    color: #FBFBF8;
}



